@model OnTaskV2.Models.ViewModels.TA_Table

@{ 
    ViewBag.Title = "Labor Optimization Table";
}

<table class="table">
    <tr>
        <th>Time</th>
        <th>Traffic</th>
        <th title="Percent of Daily Traffic">% Traffic</th>
        <th title="Transactions">Trans</th>
        <th title="Conversion Ratio">Conv Ratio</th>
        <th title="Actual Labor Hours">Actl Hrs</th>
        <th title="Shopper To Associate Ratio">STAR</th>
        <th title="Recommended Labor Hours">Recmd Hrs</th>
        <th title="Increase/Reduce Hours">+/- Hours</th>
    </tr>

    @for (int i = 0; i < Model.ActualHours.Count(); i++)
    {
        if (Model.TrafficTY[i] != 0)
        {
            <tr>
                <td>@Model.StartTime.Add(new TimeSpan(Model.TimeIncrement.Ticks * i)).ToShortTimeString()</td>
                <td>@Html.DisplayFor(modelItem => Model.TrafficTY[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.TrafficPercent[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.Transactions[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.ConversionPercent[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.ActualHours[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.TPLH[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.RecommendHours[i])</td>
                <td>@Html.DisplayFor(modelItem => Model.PlusMinusHours[i])</td>
            </tr>
        }

    }
    <tr>
        <th>Total</th>
        <th>2,708</th>
        <th></th>
        <th>488</th>
        <th>18.0%</th>
        <th>214</th>
        <th>13</th>
        <th>208</th>
        <th>-6</th>
    </tr>
</table>