@model OnTaskV2.Models.ViewModels.TA_Table

@{ 
    ViewBag.Title = "Labor Optimization Table";
}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#weekTableDiv" aria-controls="home" role="tab" data-toggle="tab">Week</a></li>
        <li role="presentation"><a href="#sundayTable" aria-controls="sundayTable" role="tab" data-toggle="tab">Sunday</a></li>
        <li role="presentation"><a href="#mondayTable" aria-controls="mondayTable" role="tab" data-toggle="tab">Monday</a></li>
        <li role="presentation"><a href="#tuesdayTable" aria-controls="tuesdayTable" role="tab" data-toggle="tab">Tuesday</a></li>
        <li role="presentation"><a href="#wednesdayTable" aria-controls="wednesdayTable" role="tab" data-toggle="tab">Wednesday</a></li>
        <li role="presentation"><a href="#thursdayTable" aria-controls="thursdayTable" role="tab" data-toggle="tab">Thursday</a></li>
        <li role="presentation"><a href="#fridayTable" aria-controls="fridayTable" role="tab" data-toggle="tab">Friday</a></li>
        <li role="presentation"><a href="#saturdayTable" aria-controls="saturdayTable" role="tab" data-toggle="tab">Saturday</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding-top:5px;">
        <div role="tabpanel" class="tab-pane fade in active" id="weekTableDiv">
            <table class="table table-hover trafficAnalyzerWeekTable" id="weekTable">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Traffic</th>
                        <th title="Percent of Daily Traffic">% Traffic</th>
                        <th title="Transactions">Trans</th>
                        <th title="Conversion Ratio">Conv Ratio</th>
                        <th title="Sales">Sales</th>
                        <th title="Average Transaction">Avg Trans</th>
                        <th title="Actual Labor Hours">Actl Hrs</th>
                        <th title="Shopper To Associate Ratio">STAR</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <th>@Model.TrafficTY.Sum().ToString("0.##")</th>
                        <th>@Model.TrafficPercent.Sum().ToString("0.##%")</th>
                        <th>@Model.Transactions.Sum().ToString("0.##")</th>
                        <th>
                            @if (Model.TrafficTY.Sum() != 0)
                            {
                                <span>@((Model.Transactions.Sum() / Model.TrafficTY.Sum()).ToString("0.##%"))</span>
                            }
                        </th>
                        <th>@Model.Sales.Sum().ToString("$0.00")</th>
                        <th>
                            @if (Model.Transactions.Sum() != 0)
                            {
                                <span>@((Model.Sales.Sum() / Model.Transactions.Sum()).ToString("$0.00"))</span>
                            }
                        </th>
                        <th>@Model.ActualHours.Sum().ToString("0.##")</th>
                        <th>
                            @if (Model.ActualHours.Sum() != 0)
                            {
                                <span>@((Model.TrafficTY.Sum() / Model.ActualHours.Sum()).ToString("0.##"))</span>
                            }
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @for (int i = 0; i < 7; i++)
                    {
                        <tr>
                            <td>@Model.StartTime.Add(new TimeSpan(Model.TimeIncrement.Ticks * i)).DayOfWeek</td>
                            <td>@Model.TrafficTY[i].ToString("0.##")</td>
                            <td>@Model.TrafficPercent[i].ToString("0.##%")</td>
                            <td>@Model.Transactions[i].ToString("0.##")</td>
                            <td>@Model.ConversionPercent[i].ToString("0.##%")</td>
                            <td>@Model.Sales[i].ToString("$0.00")</td>
                            <td>@Model.AvgTransactions[i].ToString("$0.00")</td>
                            <td>@Model.ActualHours[i].ToString("0.##")</td>
                            <td>@Model.TPLH[i].ToString("0.##")</td>
                        </tr>
                    }
                </tbody>


            </table>

            <!--Weekly Rankings-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Rankings</h3>
                </div>
                <div class="panel-body">
                    <div class="clearfix">
                        <table class="table table-hover table-condensed" style="border:1px solid #afcee9">
                            <thead>
                                <tr style="background-color:#afcee9">
                                    <th>Day</th>
                                    <th>Traffic</th>
                                    <th title="Transactions">Trns*</th>
                                    <th>Sales</th>
                                    <th title="Actual Labor Hours">Actl Hrs*</th>
                                    <th title="Conversion Ratio">Conv*</th>
                                    <th title="Average Transactions">Avg Trns*</th>
                                    <th title="Shopper To Associate Ratio">STAR*</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sun</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>5</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Mon</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>4</td>
                                    <td>2</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Tue</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>6</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Wed</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>4</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <th>Thu</th>
                                    <td>6</td>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>7</td>
                                    <td>5</td>
                                    <td>3</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <th>Fri</th>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>3</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <th>Sat</th>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>2</td>
                                    <td>7</td>
                                    <td>7</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="sundayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "sundayTableTarget", }, new { @class = "dayTableForm", @id = "sundayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="sundayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Sunday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="mondayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "mondayTableTarget", }, new { @class = "dayTableForm", @id = "mondayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(1)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="mondayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Monday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tuesdayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "tuesdayTableTarget", }, new { @class = "dayTableForm", @id = "tuesdayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(2)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="tuesdayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Tuesday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="wednesdayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "wednesdayTableTarget", }, new { @class = "dayTableForm", @id = "wednesdayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(3)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="wednesdayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Wednessday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="thursdayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "thursdayTableTarget", }, new { @class = "dayTableForm", @id = "thursdayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(4)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="thursdayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Thursday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="fridayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "fridayTableTarget", }, new { @class = "dayTableForm", @id = "fridayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(5)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="fridayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Friday Data...
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="saturdayTable">
            <div>
                @using (Ajax.BeginForm("DayTable", "TrafficAnalyzer", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "saturdayTableTarget", }, new { @class = "dayTableForm", @id = "saturdayTableForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input name="storeId" type="hidden" value="@Model.InputStoreId">
                    <input name="date" type="hidden" value="@Model.InputDate.AddDays(6)">
                    <input name="star" type="hidden" value="@Model.InputSTAR">
                }
            </div>
            <div class="partialContentsLoadDayTable col-lg-12" id="saturdayTableTarget">
                <img src="~/img/indicator.white.gif" /> Loading Saturday Data...
            </div>
        </div>

        
    </div>
</div>

<script type="text/javascript" language=javascript>
     $(document).ready(function () {
         $(".dayTableForm").each(function () {
             $(this).submit();
         });

         $.fn.dataTable.moment('dddd');

         $('#weekTable').dataTable({
             "paging": false,
             "searching": false,
             "info": false,
             "columns": [
                { className: "dt-left" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" },
                { className: "dt-right" }, ]
         });
     });
</script>