@{
    ViewBag.Title = "Traffic Analyzer";
}

<h2>Traffic Analyzer</h2>

<hr />


@using (Ajax.BeginForm("WeekTable","TrafficAnalyzer", new AjaxOptions{ HttpMethod = "Post", UpdateTargetId = "replaceTableTarget", OnSuccess = "weekTableOnSuccess"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-horizontal">
            <div class="form-group">
                <span class="control-label col-md-2" style="font-weight: bold">Store</span>
                <div class="col-md-10">
                    @Html.DropDownList("storeId", ViewBag.StoresList as SelectList, "--Select--", htmlAttributes: new { @class = "form-control", @id = "storeIdDropdown" })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2" style="font-weight: bold">Date</span>
                <div class="col-md-10">
                    @Html.Editor("date", new { htmlAttributes = new { @class = "form-control datecontrol", type = "date"} })
                </div>
            </div>

            <div class="form-group">
                <span class="control-label col-md-2" style="font-weight: bold">Target STAR</span>
                <div class="col-md-10">
                    @Html.Editor("star", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" id="generateTableSubmit" class="btn btn-primary" data-loading-text="Generating..." ><span class='glyphicon glyphicon-list-alt'></span> Run Data</button>
            </div>
        </div>
    </div>
}

<hr id="lineBreakTable" />
<div class="col-lg-12"  style="align-content:center;">
    <div id="replaceTableTarget">
        <img src="~/img/indicator.white.gif" /> Loading Table Data...
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#lineBreakTable').hide();
        $('#replaceTableTarget').hide();
        $("#generateTableSubmit").click(function () {
            $('#lineBreakTable').show();
            $('#replaceTableTarget').show();
            $('#replaceTableTarget').innerHTML = '<img src="~/img/indicator.white.gif" /> Loading Table Data...';
        });
    });
    
    var weekTableOnSuccess = function (result) {

    };

</script>